.ToDoArea {
  width: 100%;
  background-color: whitesmoke;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.Container {
  width: 65%;
  background-color: white;
  height: 75vh;
  overflow-y: scroll;
  margin-top: 4rem;
  box-shadow: 0px 0px 24px -12px rgba(131, 131, 131, 0.5);
  hr {
    margin: 0 !important;
    border: none;
    height: 0.1px;
    background-color: #d6d6d6;
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
  p {
    font-weight: 500;
  }
  button {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2666cf;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #f5f2e7;
  }
}

.ToDoContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 425px) {
  .Container {
    width: 90%;
  }
}
